@import "../css/footer.css";

.profile {
  max-width: 100%;
}

.subheading {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 100px; 
}


.container{
  margin: 150px 0px;
}

.text p {
  font-size: 1.5rem;
  
  padding-left: 50px;
}

.center {
  text-align: center;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  color: #f5f5f5;
}

.projects h2 {
  text-align: center;
  margin-bottom: 100px;
  font-size: 3rem;
}

.card {
  margin: 30px;
}

.skills{
  margin-bottom: 150px;
}

.list-group-item:hover{
  background-color: rgba(0,0,0, 0.5);
}



/* to change bottom color */
/**.btn {
  background-color: green;
}
.btn:hover{
  background-color: rgb(2, 78, 2);
}**/
